In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
#Store csv into dataframe
disaster_assistance_file = "../Resources/disaster_assistance.csv"
disaster_assistance_df = pd.read_csv(disaster_assistance_file)
disaster_assistance_df.head()

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,pa_program_declared,hm_program_declared,incident_begin_date,incident_end_date,disaster_closeout_date
0,DR-1-GA,1,GA,DR,1953-05-02T00:00:00Z,1953,Tornado,Tornado,no,yes,yes,yes,1953-05-02T00:00:00Z,1953-05-02T00:00:00Z,1954-06-01T00:00:00Z
1,DR-2-TX,2,TX,DR,1953-05-15T00:00:00Z,1953,Tornado,Tornado & Heavy Rainfall,no,yes,yes,yes,1953-05-15T00:00:00Z,1953-05-15T00:00:00Z,1958-01-01T00:00:00Z
2,DR-3-LA,3,LA,DR,1953-05-29T00:00:00Z,1953,Flood,Flood,no,yes,yes,yes,1953-05-29T00:00:00Z,1953-05-29T00:00:00Z,1960-02-01T00:00:00Z
3,DR-4-MI,4,MI,DR,1953-06-02T00:00:00Z,1953,Tornado,Tornado,no,yes,yes,yes,1953-06-02T00:00:00Z,1953-06-02T00:00:00Z,1956-02-01T00:00:00Z
4,DR-5-MT,5,MT,DR,1953-06-06T00:00:00Z,1953,Flood,Floods,no,yes,yes,yes,1953-06-06T00:00:00Z,1953-06-06T00:00:00Z,1955-12-01T00:00:00Z

In [4]:
disaster_assistance_df = disaster_assistance_df.reset_index().rename({'index':'index'}, axis = 'columns')
disaster_assistance_df = disaster_assistance_df.set_index('index')
disaster_assistance_df.head()

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,pa_program_declared,hm_program_declared,incident_begin_date,incident_end_date,disaster_closeout_date
index,,,,,,,,,,,,,,,
0,DR-1-GA,1,GA,DR,1953-05-02T00:00:00Z,1953,Tornado,Tornado,no,yes,yes,yes,1953-05-02T00:00:00Z,1953-05-02T00:00:00Z,1954-06-01T00:00:00Z
1,DR-2-TX,2,TX,DR,1953-05-15T00:00:00Z,1953,Tornado,Tornado & Heavy Rainfall,no,yes,yes,yes,1953-05-15T00:00:00Z,1953-05-15T00:00:00Z,1958-01-01T00:00:00Z
2,DR-3-LA,3,LA,DR,1953-05-29T00:00:00Z,1953,Flood,Flood,no,yes,yes,yes,1953-05-29T00:00:00Z,1953-05-29T00:00:00Z,1960-02-01T00:00:00Z
3,DR-4-MI,4,MI,DR,1953-06-02T00:00:00Z,1953,Tornado,Tornado,no,yes,yes,yes,1953-06-02T00:00:00Z,1953-06-02T00:00:00Z,1956-02-01T00:00:00Z
4,DR-5-MT,5,MT,DR,1953-06-06T00:00:00Z,1953,Flood,Floods,no,yes,yes,yes,1953-06-06T00:00:00Z,1953-06-06T00:00:00Z,1955-12-01T00:00:00Z

In [5]:
#create filtered dataframe from specific columns
disaster_assistance_cols = ["fema_declaration_string", "state", "declaration_date", "incident_type", "declaration_title", "ih_program_declared", "ia_program_declared", "pa_program_declared", "hm_program_declared"]
disaster_assistance_transformed = disaster_assistance_df[disaster_assistance_cols].copy()
disaster_assistance_transformed.head()

,fema_declaration_string,state,declaration_date,incident_type,declaration_title,ih_program_declared,ia_program_declared,pa_program_declared,hm_program_declared
index,,,,,,,,,
0,DR-1-GA,GA,1953-05-02T00:00:00Z,Tornado,Tornado,no,yes,yes,yes
1,DR-2-TX,TX,1953-05-15T00:00:00Z,Tornado,Tornado & Heavy Rainfall,no,yes,yes,yes
2,DR-3-LA,LA,1953-05-29T00:00:00Z,Flood,Flood,no,yes,yes,yes
3,DR-4-MI,MI,1953-06-02T00:00:00Z,Tornado,Tornado,no,yes,yes,yes
4,DR-5-MT,MT,1953-06-06T00:00:00Z,Flood,Floods,no,yes,yes,yes

In [6]:
#rename the column headers
disaster_assistance_transformed = disaster_assistance_transformed.rename(columns={"fema_declaration_string": "fema_declaration",
                                                                                 "ih_program_declared": "indiv_&_household_assistance",
                                                                                 "ia_program_declared": "individual_assistance",
                                                                                 "pa_program_declared": "public_assistance",
                                                                                 "hm_program_declared": "hazard_mitigation"})
disaster_assistance_transformed.head()

,fema_declaration,state,declaration_date,incident_type,declaration_title,indiv_&_household_assistance,individual_assistance,public_assistance,hazard_mitigation
index,,,,,,,,,
0,DR-1-GA,GA,1953-05-02T00:00:00Z,Tornado,Tornado,no,yes,yes,yes
1,DR-2-TX,TX,1953-05-15T00:00:00Z,Tornado,Tornado & Heavy Rainfall,no,yes,yes,yes
2,DR-3-LA,LA,1953-05-29T00:00:00Z,Flood,Flood,no,yes,yes,yes
3,DR-4-MI,MI,1953-06-02T00:00:00Z,Tornado,Tornado,no,yes,yes,yes
4,DR-5-MT,MT,1953-06-06T00:00:00Z,Flood,Floods,no,yes,yes,yes

In [7]:
#store 2nd csv into dataframe
us_disaster_declarations_file = "../Resources/us_disaster_declarations.csv"
us_disaster_declarations_df = pd.read_csv(us_disaster_declarations_file)
us_disaster_declarations_df.head()

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,incident_begin_date,incident_end_date,disaster_closeout_date,fips,place_code,designated_area,declaration_request_number,hash,last_refresh,id
0,DR-1-GA,1,GA,DR,1953-05-02T00:00:00Z,1953,Tornado,Tornado,1953-05-02T00:00:00Z,1953-05-02T00:00:00Z,1954-06-01T00:00:00Z,13000,0,Statewide,53013,bb121323c9c29d3bef0c9a3f134bfd8b5ecff148,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025780
1,DR-2-TX,2,TX,DR,1953-05-15T00:00:00Z,1953,Tornado,Tornado & Heavy Rainfall,1953-05-15T00:00:00Z,1953-05-15T00:00:00Z,1958-01-01T00:00:00Z,48000,0,Statewide,53003,c879557e78d059e6847e7688388c339d10f51979,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025783
2,DR-3-LA,3,LA,DR,1953-05-29T00:00:00Z,1953,Flood,Flood,1953-05-29T00:00:00Z,1953-05-29T00:00:00Z,1960-02-01T00:00:00Z,22000,0,Statewide,53005,4fb19699fdbba1387ffa2263fcc4a4e37a1de6d6,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025777
3,DR-4-MI,4,MI,DR,1953-06-02T00:00:00Z,1953,Tornado,Tornado,1953-06-02T00:00:00Z,1953-06-02T00:00:00Z,1956-02-01T00:00:00Z,26000,0,Statewide,53004,87a0c1dd5da249767f545e0c0a43f917e4e9ca83,2021-07-13T23:01:19Z,60c3b7a9a0ee349d7102577a
4,DR-5-MT,5,MT,DR,1953-06-06T00:00:00Z,1953,Flood,Floods,1953-06-06T00:00:00Z,1953-06-06T00:00:00Z,1955-12-01T00:00:00Z,30000,0,Statewide,53006,954449c15634fb45c8bea3ac975782793ccde050,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025774

In [8]:
us_disaster_declarations_df = us_disaster_declarations_df.reset_index().rename({'index':'index'}, axis = 'columns')
us_disaster_declarations_df = us_disaster_declarations_df.set_index('index')
us_disaster_declarations_df.head()

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,incident_begin_date,incident_end_date,disaster_closeout_date,fips,place_code,designated_area,declaration_request_number,hash,last_refresh,id
index,,,,,,,,,,,,,,,,,,
0,DR-1-GA,1,GA,DR,1953-05-02T00:00:00Z,1953,Tornado,Tornado,1953-05-02T00:00:00Z,1953-05-02T00:00:00Z,1954-06-01T00:00:00Z,13000,0,Statewide,53013,bb121323c9c29d3bef0c9a3f134bfd8b5ecff148,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025780
1,DR-2-TX,2,TX,DR,1953-05-15T00:00:00Z,1953,Tornado,Tornado & Heavy Rainfall,1953-05-15T00:00:00Z,1953-05-15T00:00:00Z,1958-01-01T00:00:00Z,48000,0,Statewide,53003,c879557e78d059e6847e7688388c339d10f51979,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025783
2,DR-3-LA,3,LA,DR,1953-05-29T00:00:00Z,1953,Flood,Flood,1953-05-29T00:00:00Z,1953-05-29T00:00:00Z,1960-02-01T00:00:00Z,22000,0,Statewide,53005,4fb19699fdbba1387ffa2263fcc4a4e37a1de6d6,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025777
3,DR-4-MI,4,MI,DR,1953-06-02T00:00:00Z,1953,Tornado,Tornado,1953-06-02T00:00:00Z,1953-06-02T00:00:00Z,1956-02-01T00:00:00Z,26000,0,Statewide,53004,87a0c1dd5da249767f545e0c0a43f917e4e9ca83,2021-07-13T23:01:19Z,60c3b7a9a0ee349d7102577a
4,DR-5-MT,5,MT,DR,1953-06-06T00:00:00Z,1953,Flood,Floods,1953-06-06T00:00:00Z,1953-06-06T00:00:00Z,1955-12-01T00:00:00Z,30000,0,Statewide,53006,954449c15634fb45c8bea3ac975782793ccde050,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025774

In [9]:
#create filtered dataframe from specific columns
us_disaster_declarations_cols = ["fema_declaration_string", "state", "declaration_date", "incident_type", "declaration_title", "incident_begin_date", "incident_end_date", "disaster_closeout_date", "designated_area"]
us_disaster_declarations_transformed = us_disaster_declarations_df[us_disaster_declarations_cols].copy()
us_disaster_declarations_transformed.head()

,fema_declaration_string,state,declaration_date,incident_type,declaration_title,incident_begin_date,incident_end_date,disaster_closeout_date,designated_area
index,,,,,,,,,
0,DR-1-GA,GA,1953-05-02T00:00:00Z,Tornado,Tornado,1953-05-02T00:00:00Z,1953-05-02T00:00:00Z,1954-06-01T00:00:00Z,Statewide
1,DR-2-TX,TX,1953-05-15T00:00:00Z,Tornado,Tornado & Heavy Rainfall,1953-05-15T00:00:00Z,1953-05-15T00:00:00Z,1958-01-01T00:00:00Z,Statewide
2,DR-3-LA,LA,1953-05-29T00:00:00Z,Flood,Flood,1953-05-29T00:00:00Z,1953-05-29T00:00:00Z,1960-02-01T00:00:00Z,Statewide
3,DR-4-MI,MI,1953-06-02T00:00:00Z,Tornado,Tornado,1953-06-02T00:00:00Z,1953-06-02T00:00:00Z,1956-02-01T00:00:00Z,Statewide
4,DR-5-MT,MT,1953-06-06T00:00:00Z,Flood,Floods,1953-06-06T00:00:00Z,1953-06-06T00:00:00Z,1955-12-01T00:00:00Z,Statewide

In [10]:
#rename the column headers
us_disaster_declarations_transformed = us_disaster_declarations_transformed.rename(columns={"fema_declaration_string": "fema_declaration",
                                                                                 "incident_begin_date": "begin_date",
                                                                                 "incident_end_date": "end_date",
                                                                                 "disaster_closeout_date": "disaster_closed"})
us_disaster_declarations_transformed.head()

,fema_declaration,state,declaration_date,incident_type,declaration_title,begin_date,end_date,disaster_closed,designated_area
index,,,,,,,,,
0,DR-1-GA,GA,1953-05-02T00:00:00Z,Tornado,Tornado,1953-05-02T00:00:00Z,1953-05-02T00:00:00Z,1954-06-01T00:00:00Z,Statewide
1,DR-2-TX,TX,1953-05-15T00:00:00Z,Tornado,Tornado & Heavy Rainfall,1953-05-15T00:00:00Z,1953-05-15T00:00:00Z,1958-01-01T00:00:00Z,Statewide
2,DR-3-LA,LA,1953-05-29T00:00:00Z,Flood,Flood,1953-05-29T00:00:00Z,1953-05-29T00:00:00Z,1960-02-01T00:00:00Z,Statewide
3,DR-4-MI,MI,1953-06-02T00:00:00Z,Tornado,Tornado,1953-06-02T00:00:00Z,1953-06-02T00:00:00Z,1956-02-01T00:00:00Z,Statewide
4,DR-5-MT,MT,1953-06-06T00:00:00Z,Flood,Floods,1953-06-06T00:00:00Z,1953-06-06T00:00:00Z,1955-12-01T00:00:00Z,Statewide

In [11]:
#create database connection
connection_string = "{user_name}:{password}@localhost:5432/Natural_Disaster_db"
engine = create_engine(f'postgresql://{connection_string}')

In [12]:
#confirm tables
engine.table_names()

<ipython-input-12-4fe23a8a790d>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['us_disaster_declarations_transformed', 'disaster_assistance_transformed']

In [13]:
#load dataframes into database
us_disaster_declarations_transformed.to_sql(name='us_disaster_declarations_transformed', con=engine, if_exists='append', index=True)

In [14]:
disaster_assistance_transformed.to_sql(name='disaster_assistance_transformed', con=engine, if_exists='append', index=True)

In [15]:
#what are the disaster types and number occurred?
disaster_types = us_disaster_declarations_transformed['incident_type'].unique()
print("Types of Disasters reported:  ", disaster_types)

print("Disaster Occurrences:   ", us_disaster_declarations_transformed['incident_type'].value_counts())

Types of Disasters reported:   ['Tornado' 'Flood' 'Fire' 'Other' 'Earthquake' 'Hurricane' 'Volcano'
 'Severe Storm(s)' 'Toxic Substances' 'Typhoon' 'Drought'
 'Dam/Levee Break' 'Snow' 'Severe Ice Storm' 'Freezing' 'Coastal Storm'
 'Fishing Losses' 'Mud/Landslide' 'Human Cause' 'Terrorist' 'Tsunami'
 'Chemical' 'Biological']
Disaster Occurrences:    Severe Storm(s)     17116
Hurricane           12488
Flood               10470
Biological           7854
Snow                 3664
Fire                 3559
Severe Ice Storm     2942
Tornado              1488
Drought              1292
Coastal Storm         635
Other                 306
Freezing              301
Earthquake            227
Typhoon               130
Volcano                51
Fishing Losses         42
Mud/Landslide          36
Dam/Levee Break        13
Tsunami                 9
Chemical                9
Toxic Substances        9
Human Cause             7
Terrorist               5
Name: incident_type, dtype: int64

In [16]:
#what are the declarations titles for the "other" incidents?
other_types = us_disaster_declarations_transformed.query('incident_type== "Other"')['declaration_title'].value_counts().reset_index()
print(other_types)

                                               index  declaration_title
0                                       Power Outage                 97
1                                    West Nile Virus                 82
2                 Loss Of The Space Shuttle Columbia                 54
3                     Loss Of Space Shuttle Columbia                 41
4                                Straight-Line Winds                  6
5                                   Water Main Break                  4
6                                    Severe Hardship                  3
7                                          Explosion                  3
8                             Major Water Main Break                  2
9   Debruce Grain Elevator Explosion  (Sedgwick Cty)                  2
10                    56th Presidential Inauguration                  1
11                                   Bridge Collapse                  1
12                        Surfside Building Collapse                  1
13                                        High Winds                  1
14                                  Seismic Sea Wave                  1
15                                        Wind Storm                  1
16                                        Tidal Wave                  1
17                    59th Presidential Inauguration                  1
18                                       Tidal Waves                  1
19                         Severe Weather Conditions                  1
20                                     Power Failure                  1
21                                Gas Leak Explosion                  1